<div class="col-12">
    <div class="result">hehe</div>
</div>
<div class="container">
<button type="button" class="col-3 btn btn-danger">C</button>
<button type="button" class="col-3 btn btn-primary">()</button>
<button type="button" class="col-3 btn btn-primary">%</button>
<button type="button" class="col-3 btn btn-primary">/</button>
<button type="button" class="col-3 btn btn-primary">x</button>
<button type="button" class="col-3 btn btn-primary">-</button>
<button type="button" class="col-3 btn btn-primary">+</button>
<button type="button" class="col-3 btn btn-primary">+/-</button>
<button type="button" class="col-3 btn btn-primary">,</button>
<button type="button" class="col-3 btn btn-primary">7</button>
<button type="button" class="col-3 btn btn-primary">8</button>
<button type="button" class="col-3 btn btn-primary">9</button>
<button type="button" class="col-3 btn btn-primary">4</button>
<button type="button" class="col-3 btn btn-primary">5</button>
<button type="button" class="col-3 btn btn-primary">6</button>
<button type="button" class="col-3 btn btn-primary">1</button>
<button type="button" class="col-3 btn btn-primary">2</button>
<button type="button" class="col-3 btn btn-primary">3</button>
<button type="button" class="col-3 btn btn-primary">0</button>
<button type="button" class="col-3 btn btn-success">=</button>
</div>
